<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Chirp Web App</title>
  </head>
  <body>
    <div class="center jumbotron">
    <p>
	Get help on this web application by visiting the
  	<a href="http://github.com/ashish-kalbhor/Chirp">Github Chirp Source Code.</a>.
    </p>
  </body>
</html>
